.frame {
  position: absolute;

  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  align-items: center;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headline {
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  line-height: 22px;
}
.headline .small {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}
.circle-big {
  position: relative;
  width: 114px;
  height: 114px;
  margin: 30px auto 25px auto;
}
.circle-big svg {
  width: 114px;
  height: 114px;
}
.circle-big .bg {
  fill: none;
  stroke-width: 10px;
  stroke: #acadfc;
}
.circle-big .progress {
  fill: none;
  stroke-width: 10px;
  stroke: #272ae1;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 327;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-out;
}
.circle-big .text {
  position: absolute;
  width: 100%;
  top: 46px;
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  line-height: 22px;
}

.circle-small {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 20px;
}
.circle-small svg {
  width: 80px;
  height: 80px;
}
.circle-small .bg {
  fill: none;
  stroke-width: 30px;
  stroke: #dbe9f1;
}
.circle-small .progress {
  fill: none;
  stroke-width: 6px;
  stroke: hsl(261, 46%, 73%);
  stroke-linecap: round;
  stroke-dasharray: 232.36;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.circle-small .progress.one {
  stroke-dashoffset: 80;
  animation: one 1.5s ease-out;
}
.circle-small .progress.two {
  stroke-dashoffset: 140;
  animation: two 1.5s ease-out;
}
.circle-small .text {
  position: absolute;
  width: 100%;
  top: 26px;
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  line-height: 16px;
}
.circle-small .text .small {
  font-size: 12px;
  color: #7db0ce;
}

.intro {
  text-align: center;
  color: white;
  font-size: 30px;
}

.start {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
}

.feedback {
  text-align: right;
  color: white;
  font-size: 30px;
}
